body{
    margin: 0;
}
.topmenu {
    color: brown;
    font-size: 25px;
    font-style: oblique;
    padding: 15px;
    margin: auto;
    text-decoration-line: none;

}

.getSmaller {
    width: 350px;
    height: 35%;
}

.logoImg {
    padding: 5px;

}

.navBar {
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.navMenu {
    width: 100%;
    margin: auto;
    /*padding-left: 20px;*/
}

/*!*.burgerImg {*!*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    !*width: 65%;*!*/
/*    !*height: 65%;*!*/
/*}*/

.imageDiv {
    position: relative;
    top: 15%;
    left: 20%;
}

.centerMenu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 25px;
    /*background-color: #ffae3d;*/



}
.menuMenu{
    display: flex;
    justify-items: center;
    align-items: center;
}

.burgerMenu{
    width: 100%;
}
.chickenMenu{
    width: 100%;
}
.menuBackground{
    background-image: url("burger-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.burgerBackground{
    background-image: url("burger-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1600px;
    height: 1100px;
}
.location{
    margin: 10px 30px;
    border-bottom: 1px dotted black;

}
.mapCenter{

}

.mapImage{
    display: flex;
    justify-content: center;
}

.comments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jobInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.jobStuff{
    margin: 25px;
}
.whiteSpace{
    margin: 20px 50px;
}
.faqDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}